In [6]:
import sqlite3

In [7]:
people = sqlite3.connect('../data/people.db')
c = people.cursor()

In [8]:
# trich suat du lieu
# name = "unknown_0"
# c.execute("select * from people_unknown where name = '%s'" % name)
# name, gender, age = c.fetchone()

In [9]:
# Create table
c.execute('''CREATE TABLE people_known
(name text unique, gender bit, old integer)''')
# Create table
c.execute('''CREATE TABLE people_unknown
(name text unique, gender bit, old integer)''')
# Create table
c.execute('''CREATE TABLE people_inroom
(name text unique, gender bit, old integer)''')

In [10]:
# c.execute("insert into people_known values ('Dam Van Tai', 0, 24)")
c.execute("insert into people_known values ('Pham Van Tuan', 1, 37)")
c.execute("insert into people_known values ('Doan Van Dung', 1, 30)")
c.execute("insert into people_known values ('Tong Thi Thuy', 0, 32)")
c.execute("insert into people_known values ('Sakiyama', 1, 35)")
c.execute("insert into people_known values ('Dam Van Tai', 1, 24)")

In [11]:
people.commit()

In [12]:
# show name people know name
for row in c.execute('select * from people_known order by old'):
    print(row)

('Dam Van Tai', 1, 24)
('Doan Van Dung', 1, 30)
('Tong Thi Thuy', 0, 32)
('Sakiyama', 1, 35)
('Pham Van Tuan', 1, 37)

In [13]:
for row in c.execute('select * from people_inroom order by old'):
    print(row)

In [14]:
for row in c.execute('select * from people_unknown order by old'):
    print(row)

In [15]:
people.close()